.waterModal {
  position: relative;
  border-radius: 15px;
  padding: 40px;
  width: 518px;
  height: fit-content;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--main-white);
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waterModalTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.01em;
  color: var(--main);
}

.closeIcon {
  fill: none;
  cursor: pointer;
  transition: stroke 0.3s ease;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: absolute;
  stroke: var(--main-text);
  background-color: transparent;
}

.btn:hover .closeIcon {
  stroke: var(--accent-color);
}

.text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main);
  margin-top: 24px;
}
