.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: var(--mai-text);
  padding: 2px 0;
  margin-right: auto;
}

.header {
  display: flex;
  /*   justify-content: space-between; */
  height: 32px;
  gap: 16px;
  /*   align-items: center; */
  margin-bottom: 24px;
}

.container {
  margin: 0 auto;
  padding: 40px 20px;
}
