.userPanel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
}

.userPanelName {
    font-family: var(--second-font);
    font-weight: var(--font-regular);
    font-size: 2rem;
    line-height: 1;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--main-color);
}

.userPanelSpan {
    font-weight: var(--font-bold);
}