.sectionWaterDetailInfo {
    border-radius: 30px;
    width: 343px;
    height: 100%;
    background-color: var(--background-white);
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
    .sectionWaterDetailInfo {
        width: 704px;
        height: auto;
        padding: 32px
    }
}

@media screen and (min-width: 1440px) {
    .sectionWaterDetailInfo {
        --h1-font-size: 5rem;
        width: 672px;
        height: 736px;
        padding-left: 32px;
        padding-right: 32px;
    }
}