.addWaterButton {
  display: flex;
  border-radius: 30px;
  gap: 10px;
  align-items: center;
  padding: 0;
  background-color: transparent;
  height: 46px;
  padding: 14px 0px;
  justify-content: end;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.iconPlusWater {
  fill: var(--accent-color);
  stroke: #323f47;
  border: none;
  stroke-width: 0;
  width: 30px;
  height: 30px;
  transition: fill 250ms ease, stroke 250ms ease;
}

.addWaterButton:hover .iconPlusWater,
.addWaterButton:focus .iconPlusWater {
  fill: #323f47;
  stroke: #fff;
}

.addWaterSpan {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

@media screen and (min-width: 768px) {
  .addWaterButton {
    padding: 18px 0px;
    width: 178px;
    height: 60px;
  }

  .addWaterSpan {
    font-size: 16px;
    line-height: 1.5;
  }
}
