.btn {
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background-color: #323f47;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

.icon {
  fill: #fff;
  stroke-width: 1px;
  stroke: #fff;
}
