.userBarPopoverContainer {
  position: absolute;
  display: flex;
  gap: 8px;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 14px 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 137px;
}

.popoverBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: auto;
  border: none;
  background-color: inherit;
  padding: 0;
}

.popoverBtnGray {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

.popoverBtnGray:hover {
  opacity: 1;
}

.popoverIcon {
  stroke: #323f47;
  fill: none;
}

.popoverText {
  color: #323f47;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
}

@media (min-width: 768px) {
  .userBarPopoverContainer {
    width: 157px;
  }

  .popoverText {
    font-size: 15px;
    line-height: 1.49;
  }
}
