

.generalSignUpInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    min-width: 320px;
    max-width: 375px;
  }
  
  .advantagesSection {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    .generalSignUpInfo {
      padding: 0 32px;
      max-width: 100%;
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .generalSignUpInfo {
      padding: 32px 0 0 0;
      gap: 32px;
      flex-direction: row;
      max-width: 100%;
    }

    .advantagesSection {
      display: block;   
  }
}