.item {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .item {
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 1440px) {
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
  align-items: flex-start;
  gap: 18px 20px;
  /*   width: 304px; */
}
@media (min-width: 768px) {
  .list {
    width: 640px;
    gap: 15px 48px;
  }
}
@media (min-width: 1440px) {
  .list {
    width: 608px;
    gap: 15px 43px;
  }
}
/* .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 6 * 18px) / 7);
  gap: 6px;
}
 */
