.container {
  border-radius: 30px;
  padding-top: 24px;
  padding-left: 16px;
  background: var(--background-white);
  /* flex: 1; */
  width: 343px;
}

.wrapper_welcome {
  padding-top: 74px;
  padding-bottom: 67px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.84px;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: var(--letter-spacing-normal);
  color: var(--main-color);
  margin-top: 16px;
}

.btnWrapper {
  display: inline-flex;
  margin-top: 32px;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 32px;
    padding-left: 32px;
    width: 704px;
  }
  .wrapper_welcome {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
  }
  .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--main-color);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 50%;
    width: 672px;
    height: 736px;
  }
  .wrapper_welcome {
    padding-left: 32px;
    padding-top: 132px;
    padding-bottom: 166px;
  }
  .title {
    font-size: 80px;
    line-height: 76px;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--main-color);
  }
}
