.container {
  margin-top: 16px;
  flex: 1;
  display: flex;
  position: relative;
  width: 343px;
}

.picture {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.advertising {
  position: absolute;
  top: 209px;
  left: 16px;
}

.customer_box {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 14px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer_text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: var(--main-color);
  width: 66.94px;
}

.customer_text span {
  color: var(--accent-color);
}

.listImages {
  display: flex;
  flex-direction: row;
  margin-right: 3.77px;
  padding: 0;
}

.images:not(:first-child) {
  margin-left: -10px;
}

.images {
  width: 26px;
}

.images img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listImages > li:nth-child(1) {
  z-index: 3;
}

.listImages > li:nth-child(2) {
  z-index: 2;
}

.listImages > li:nth-child(3) {
  z-index: 1;
}

.statistic {
  position: absolute;
  top: 265px;
  left: 159px;
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.statistic button {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 9px 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 8px;
  line-height: 8px;
  /* cursor: pointer; */
  border: none;
}

.icon_ellips {
  fill: var(--accent-color);
}

.habit_text {
  margin-left: 4px;
}

.habit {
  background-color: var(--main-color);
  color: var(--main-white);
}

.view_statistic {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.rate {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
  .advertising {
    top: 283px;
    left: 30px;
  }

  .images {
    width: 47px;
  }

  .images:not(:first-child) {
    margin-left: -18px;
  }

  .customer_box {
    padding: 10px 20px;
  }

  .customer_text {
    font-size: 15px;
    line-height: 22px;
    width: 90px;
  }

  .statistic {
    top: 336px;
    left: 430px;
    gap: 10px;
    width: 245px;
  }

  .statistic button {
    padding: 11px 16px;
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 0px;
    width: 672px;
  }

  .advertising {
    top: 537px;
    left: 32px;
  }

  .statistic {
    top: 594px;
    left: 398px;
  }
}
