.container {
  width: 343px;
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 648px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 920px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  padding: 40px 40px 20px 40px;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  left: 40px;
  top: 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .formTitle {
    font-size: 28px;
    line-height: 1.4;
  }

  .button {
    top: 40px;
    right: 40px;
  }

  .icon {
    position: absolute;
    width: 28px;
    height: 28px;
    flex: none;
    fill: none;
    stroke: rgb(50, 63, 71);
    top: 40px;
    right: 40px;
    z-index: 10;
  }
}
