.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(47, 47, 47, 0.6);

  overflow-y: auto;

  z-index: 1000;
}

.modal {
  position: relative;
  width: fit-content;
  border-radius: 15px;

  max-width: 343px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    max-width: 518px;
  }
}

.modal.settings {
  top: auto;
  transform: translateX(-50%);

  margin: 80px 0;

  @media screen and (min-width: 768px) {
    max-width: 648px;
  }
  @media screen and (min-width: 768px) {
    max-width: 920px;
  }
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;

  cursor: pointer;

  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.icon {
  width: 24px;
  height: 24px;

  stroke: #2f2f2f;

  transition: 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
