<<<<<<< HEAD
.wrapper {
  background-color: #9be1a0;
  border-radius: 30px;
  width: 343px;
  height: 415px;
  padding: 50px 40px 30px 41px;
}

.container {
  width: 262px;
  height: 335px;
  background-image: url('/src/assets/images/transparent_bottle_for_water.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
=======
.WaterMainInfo {
    display: flex;
}
>>>>>>> main
