.userBar {
    display: flex;
    position: relative;
}

.userBarButton {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 137px;
    height: 50px;
    padding: 6px 12px;
    text-align: center;
    gap: 8px;
    margin-bottom: 4px;
    width: fit-content;
}

.userBarName {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.userBarAvatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.iconChevronDown {
    stroke: var(--main-white);
    fill: transparent;
    width: 16px;
    height: 16px;
}

.iconChevronUp {
    stroke: var(--main-white);
    fill: transparent;
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 768px) {
    .userBarButton {
        gap: 10px;
        padding: 6px 12px;
        min-width: 157px;
        height: 56px;
        margin-bottom: 8px;
    }

    .userBarAvatar {
        width: 44px;
        height: 44px;
    }

    .userBarName {
        font-size: 16px;
        line-height: 1.5;
        }

    .iconChevronDown, .iconChevronUp {
        width: 20px;
        height: 20px;
    }
}

    @media screen and (min-width: 1440px) {
        .userBarButton {
            gap: 12px;
        }
}
