.btn {
  width: 18px;
  height: 18px;
  background-color: transparent;
  outline: none;
  border: none;
}

.icon {
  width: 8px;
  height: 12px;
  fill: transparent;
  stroke: var(--main-text);
}

.container {
  display: flex;
  gap: 20px;
}

.date {
  font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
}
