/*==================== LAYOUT ====================*/
.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

/*==================== MEDIA QUERIES LAYOUT ====================*/

/* For small devices */
@media screen and (min-width: 375px) {
  .container {
    max-width: 343px;
    padding: 0 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 2rem;
  }
}

/* For large devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }
}
