.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--mai-text);
  padding: 2px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: center;
  margin-bottom: 24px;
}
.wrapper {
  display: flex;
  gap: 16px;
}

.container {
  margin: 0 auto;
  /* padding: 40px 20px; */
  /* padding-top: 20px; */
}

@media screen and (min-width: 768px) {
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
    color: var(--mai-text);
    padding: 2px 0;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
    color: var(--mai-text);
    padding: 2px 0;
  }
}
