.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--mai-text);
  padding: 2px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: baseline;
  margin-bottom: 24px;
}
.wrapper {
  margin-top: 40px;
  display: flex;
  gap: 16px;
  align-items: baseline;
}
.toggleButton {
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
    color: var(--mai-text);
    padding: 2px 0;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
    color: var(--mai-text);
    padding: 2px 0;
  }

  .header {
    margin-bottom: 8px;
    margin-top: 16px;
  }
}
