.container {
  border-radius: 30px;
  padding: 24px 16px;
  width: 343px;
  height: 780px;
  min-height: 736px;
  background-color: var(--background-white);
}
.flexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formContainer {
  width: 311px;
  padding: 16px;
  
}
.logo {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 16px;
}
.title {
  font-size: 32px;
  margin-bottom: 32px;
  line-height: 1;
}

.button {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;
}
.showPassword {
  position: relative;
}
.showPassword .input {
  padding-right: 40px;
}
.input {
  margin-bottom: 16px;
}
.error {
  border: 1px solid #ef5050;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;
  fill: transparent;
  stroke: #2f2f2f80;
  transition: fill 0.3s ease;
}
.icon:hover {
  stroke: var(--accent-color);
}
.afterDescription {
  text-align: center;
  margin-top: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #2f2f2f80;
}

.link {
  font-size: 14px;
  line-height: 1.3;
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
    width: 704px;
    height: 960px;
  }
  .formContainer {
    width: 436px;
  
  }
  .title {
    font-size: 36px;
  }
  .input {
    margin-bottom: 20px;
  }
  .afterDescription {
    font-size: 16px;
    line-height: 1.5;
  }

  .link {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    height: 736px;
  }
}
