.item {
  width: 28px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-text);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.btn:focus {
  background-color: var(--main-color);
  color: var(--accent-color);
}
.btn:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
}
@media (min-width: 768px) {
  .item {
    width: 38px;
  }
  .btn {
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 1440px) {
  .btn {
  }
}

.percentage {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.9;
  color: rgba(47, 47, 47, 0.6);
  text-align: center;
}
