.input {
  width: 100%;
  display: block;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 15px 16px;
  outline: none;
  background-color: var(--background-white);
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.input::placeholder {
  text-align: left;
  letter-spacing: -0.01em;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(47, 47, 47, 0.6);
}

.input:focus {
  border: 1px solid var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.error {
  border-color: var(--error-color);
  color: var(--error-color);
}
@media screen and (min-width: 768px) {
  .input,
  .input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }
}
