/* SignInForm.module.css */
.mainLoginContainer {
  width: 343px;
  height: 780px;
  height: 780px;
  border-radius: 30px;
  padding: 0 16px;
  background-color: var(--background-white);
  position: relative;
  padding-top: 24px;
}

.loginFormContainer {
  position: relative;
  padding-top: 172px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 216px;
}

.loginFormContainer {
  max-width: 100%;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 32px;
  color: var(--main-text-rgb);

  line-height: 2;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  justify-content: center;
}

.fieldLabel {
  color: var(--main-text-rgb);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  margin-bottom: 8px;
  margin-top: 8px;
}

.inputField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  position: relative;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  outline: none;
  opacity: 0px;
  background-color: var(--background-white);
}

.icon_eye,
.eyeIconOff {
  fill: none;
  stroke: rgb(47, 47, 47);
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.input::placeholder {
  text-align: left;
  letter-spacing: -0.01em;
  font-size: 14px;
  line-height: 1.286;
  color: #2f2f2f99;
}

.input:focus {
  border: 1px solid var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.button {
  font-size: 16px;
  line-height: 1.5;
  height: 60px;
  border-radius: 30px;
  color: var(--main-text-rgb);
  font-weight: 700;
  background-color: var(--accent-color);
  margin-top: 16px;
  cursor: pointer;
  opacity: 0px;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  outline: none;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #87d28d;
}

.afterDescription {
  line-height: 1.286;
  color: #2f2f2f80;
  text-align: center;
}

 .link  {
  font-size: 14px;
  line-height: 1.286;
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: rgb(47, 47, 47);
}

.errors {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ef5050;
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
}

.error {
  border-color: #ef5050;
  color: #ef5050;
}

@media screen and (min-width: 768px) {
  .mainLoginContainer {
    padding: 32px;
    max-width: 100%;
    width: 704px;
    height: 960px;
  }

  .loginFormContainer {
    padding: 225px 110px 236px;
  }

  .title {
    font-size: 36px;
    line-height: 2.375;
  }
  .form {
    margin-bottom: 20px;
  }
  .fieldLabel {
    font-size: 16px;
    line-height: 1.5;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .button {
    font-size: 16px;
    line-height: 1.5;
  }
  .afterDescription {
    font-size: 16px;
    line-height: 1.5;
  }

  .link {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .mainLoginContainer {
    padding: 32px;
    width: 672px;
    height: 736px;
    border-radius: 30px;
    background-color: var(--background-white);
  }

  .loginFormContainer {
    padding: 113px 110px 117px;
  }
}
