/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --main-color: #323f47;
  --main-color-rgb: rgb(50, 63, 71);
  --main-text: #2f2f2f;
  --main-text-rgb: rgb(47, 47, 47);
  --accent-color: rgb(157, 226, 161);
  --accent-color-hover: #66bb6a;
  --background-white: #f0eff4;
  --main-white: #fff;
  --error-color: #ef5050;

  /*========== Font and typography ==========*/
  /* Poppins regular - 400,bold - 700 */
  --font-family: 'Poppins', sans-serif;
  /* Gilroy regular - 400, bold - 700 */
  --second-font: 'Gilroy', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 2.375rem;
  --h2-font-size: 2rem;
  --h3-font-size-20: 1.25rem;
  --h4-font-size-18: 1.125rem;
  --h5-font-size-16: 1rem;
  --normal-font-size-14: 0.875rem;

  --normal-font-size: 1rem /* 16px */

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== Letter spacing ==========*/
  --letter-spacing-normal: -0.01em;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/*========== Dark Theme Colors ==========*/
:root.dark-theme {
  --main-color: #cfd8dc; /* Легкий відтінок для тексту */
  --main-text-rgb: rgb(224, 224, 224); /* Світліший текст */
  --main-text-alpha: rgba(var(--main-text-rgb), 0.5);
  --accent-color: #66bb6a; /* Яскравий акцент */
  --accent-color-hover: #4caf50; /* Темніший відтінок для ховера */
  --background-white: #303030; /* Темний фон */
  --main-white: #424242; /* Трохи світліший відтінок для елементів */
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4rem;
    --h2-font-size: 2.25rem;
    --h3-font-size-20: 1.75rem;
    --h4-font-size-18: 1.5rem;
    --h5-font-size-16: 1.25rem;
    --normal-font-size-14: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --h1-font-size: 5rem;
  }
}

/*========== Fonts ==========*/
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/poppins-v21-latin-regular.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gilroy-regular */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/Gilroy-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gilroy-700 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/Gilroy-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*==================== BASE ====================*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family); /* Poppins */
  font-size: var(--normal-font-size); /* 16px */
  font-weight: var(--font-regular); /* 400 */
  background-color: var(--main-white);
  color: var(--main-text);
  line-height: 24px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--main-color);
  font-weight: var(--font-bold);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding-top: 2.5rem;
}

.section__title {
  font-size: var(--h3-font-size);
  color: var(--main-color);
}

.section__subtitle {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}
