.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* @media screen and (max-width: 365px) {
  .wrapper {
    width: 100%;
  }
} */

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    gap: 32px;
  }
}
