.Welcome {
    display: flex;
    height: 100%;
    gap: 40px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    height: 100vh;
}

@keyframes slideInWithBounce {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    60% {
        transform: translateX(-10%);
        opacity: 1;
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.welcomeTitle {
    display: block;
    max-width: 900px;
    font-size: 140px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--accent-color);
    text-align: center;
    opacity: 0;
    animation: slideInWithBounce 1s forwards;
    animation-delay: 0.5s;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.WelcomeLogoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-decoration: none;
    background-color: white;
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    animation: slideInFromTop 1s forwards;
    animation-delay: 1.5s;
    position: relative;
    border: solid 6px orange;
    overflow: hidden;
}

@keyframes fadeInAndScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.WelcomeLogoImage {
    width: 98%;
    height: 98%;
    object-fit: contain;
    border-radius: 50%;
    opacity: 0;
    animation: fadeInAndScale 1s ease-out forwards;
    animation-delay: 1.5s;
}