.Welcome {
    display: flex;
    height: 100%;
    gap: 40px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    height: 100vh;
}

@keyframes slideInWithBounce {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    60% {
        transform: translateX(-10%);
        opacity: 1;
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.welcomeTitle {
    font-size: 160px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--accent-color);
    text-align: center;
    opacity: 0;
    animation: slideInWithBounce 1s forwards;
    animation-delay: 0.5s;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.WelcomeLogoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    animation: slideInFromTop 1s forwards;
    animation-delay: 1.5s;
    position: relative;
    border: solid 8px orange
}

@keyframes slideInText {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.WelcomeLogoLink::after {
    content: 'GoInFeature';
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0;
    animation: slideInText 1s forwards;
    animation-delay: 2.5s;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
}