.logo {
  width: fit-content;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    font-size: 24px;
  }
}
